.header img{
    height:80px;
}
.header{
    text-align: center;
}
.navBar{
    display: block;
    background-color: black;
    text-align: left;
}
.navBar a {
    text-decoration: none;
    padding: 5px 15px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    transition: 0.5s ease-in-out;
}
.navBar a:hover{
    background-color:gray;
    border-radius: 5px;
}